* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(./resources/contact.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

ul {
    width: 100vh;
    display: flex;
    justify-content: space-around;
}

li {
    font-family: 'kalam', sans-serif;
    font-size: 28px;

    a {
        color: blue;
        border-radius: 10px;
        border: 2px solid blue;
        padding: 5px 20px;
        background-color: rgba(218, 216, 216, 0.493);
    }
}
 .contact-1{
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: column;
     border-radius: 15px;
     width: 500px;
     height: 600px;
     margin: auto;
     box-shadow: 0px 0px 27px 15px rgb(0, 38, 255);
     background: rgba(255, 255, 255, 0.733);
     .contact h2{
         font-family: 'kalam', sans-serif;
         font-size: 30px;
     }
     .contact hr{
         height: 2px;
         background: rgb(0, 255, 255);
         border: 0;
         width: 200px;
     }
 }
 form{
     display: flex;
     flex-direction: column;
 }
 .logo{
     display: flex;
     flex-direction: column;
     font-family: 'kalam', sans-serif;
     font-size: 15px;
     i{
         padding: 10px;
        
     }
 }