
body {
    background-image: url(./resources/maison1-3D.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

ul {
    width: 100vh;
    display: flex;
    justify-content: space-around;
}

li {
    font-family: 'kalam', sans-serif;
    font-size: 28px;
    transition: 1s;
    a {
        color: blue;
        border-radius: 10px;
        border: 2px solid blue;
        padding: 5px 20px;
        background-color: rgba(218, 216, 216, 0.493);
        transition: 1s;
    }
}
li:hover{
    transform: scale(1.5);
}
a:hover{
    background-color: rgba(255, 255, 255, 0.911);
}

/*picture
==================*/

.picture-1{
    width: 80%;
    margin: auto;
    display: grid;
    grid-auto-flow: dense;
    grid-template: "1fr 1fr 1fr 1fr" 25vh
                   "1fr 1fr 1fr 1fr" 25vh
                   "1fr 1fr 1fr 1fr" 25vh;
    grid-gap: 2px;
}
.picture-1 .box{
    position: relative;
}
.picture img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

.picture-1 .box.a,
.picture-1 .box.e,
.picture-1 .box.g{
    grid-row: span 2;
}

.picture-1 .box.c,
.picture-1 .box.d{
    grid-column: span 2;
}
img:hover{
    transform: scale(1.7);
    z-index: 1;
}

.picture-1 div img {
	filter: grayscale(100%);
	transition: .3s ease-in-out;
}
.picture-1 div:hover img {
	filter: grayscale(0);
}

/*média queries
====================*/

@media screen and (max-width:900px){
    nav{
        display: flex;
        flex-wrap: wrap;
    }
    img{
        margin-bottom: 20px;
    }
}

@media screen and (max-width:750px){
    .picture-1{
        grid-template: "1fr 1fr 1fr" 20vh
        "1fr 1fr 1fr" 20vh
        "1fr 1fr 1fr" 20vh
        "1fr 1fr 1fr" 20vh
    }
}

@media screen and (max-width:650px){
    li a{
        font-size: 20px;
    }
}
@media screen and (max-width:500px){
    li a{
        font-size: 15px;
    }
    .picture-1{
        grid-template: "1fr 1fr " 15vh
                       "1fr 1fr " 15vh
                       "1fr 1fr " 15vh
                       "1fr 1fr " 15vh
                       "1fr 1fr " 15vh;
    }
}