@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #6fb9f5;
  height: 100vh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

nav ul {
  width: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav li {
  font-family: 'kalam', sans-serif;
  font-size: 28px;
}

nav li a {
  color: blue;
  border-radius: 10px;
  border: 2px solid blue;
  padding: 5px 20px;
  background-color: rgba(218, 216, 216, 0.493);
}

/* ossature bois
===============*/
.maison {
  background-image: url(./resources/maison1-3D.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 50vh;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title h1 {
  text-transform: uppercase;
  font-family: 'kalam', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

.title hr {
  width: 300px;
  background-color: #3a3af8;
  border: 0;
  height: 2px;
  margin: 20px 0 50px 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin: auto;
}

.container .bois p {
  font-family: 'kalam', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #0026ff;
}

/*sismique
================*/
.sismic {
  height: 55vh;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin: auto;
}

.container .norme p {
  font-family: 'kalam', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
}

.image {
  height: 300px;
  width: 500px;
}

/*devis
==============*/
.maison-1 {
  background-image: url(./resources/Plan-dune-maison.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 65vh;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin: auto;
}

.container .devis p {
  font-family: 'kalam', sans-serif;
  font-size: 25px;
  text-align: center;
  color: #0026ff;
}

/*rénovation
==============*/
.renovation {
  height: 60vh;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin: auto;
}

.container .reno p {
  font-family: 'kalam', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
}
/*# sourceMappingURL=prestation.css.map */